body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #D2001A;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

#title {
    font-family: Oswald, sans-serif;
    font-size: 46px;
    margin: 0;
    padding: 0;
    color: #FFDE00;
    margin-left: 80px;
}

.container {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: 20px;
}

.column {
    flex: 1; /* Make all columns equal width initially */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 40px;
}

/* Make the middle column wider */
.column.middle {
    flex: 2; /* Adjust the flex value to make it wider */
}