body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #D2001A;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

#title {
    font-family: Oswald, sans-serif;
    font-size: 46px;
    margin: 0;
    padding: 0;
    color: #FFDE00;
    margin-left: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    margin: 40px;
}

/* Make the middle column wider */
.column.middle {
    flex: 2;
}

.column.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Style for the post form */
.post-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.post-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post-button {
    padding: 10px;
    background-color: #0074e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right within the column */
}

.post-button:hover {
    background-color: #0056a7;
}

.profile-picture {
    width: 150px; /* Set the desired width for the profile picture */
    height: 150px; /* Set the desired height for the profile picture */
    object-fit: cover; /* Scale and crop the image to fit the specified dimensions */
}